#webspace {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}
#nav {
  line-height: 30px;
  background-color: #eeeeee;
  height: 500px;
  width: 100px;
  float: left;
  padding: 5px;
}
#section {
  padding: 15px;
  float: left;
}
.linkedin{
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
#footer {
  background-color: black;
  color: white;
  clear: both;
  text-align: center;
  padding: 5px;
}
.home-image {
  height: 250px;
  padding: 15px;
  float: left;
}
.section-text {
  padding-top: 15px;
}
.form {
  float: left;
  width: 500px;
  padding: 15px;
}
.resume {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
