#webspace {
  margin: 5px 100px 5px 100px;
}
#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
#nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 300px;
    width: 100px;
    float: left;
    padding: 5px;
}
#section {
    width: 400px;
    float: left;
    padding: 15px;
}
#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}
