#webspace {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}
#nav {
  line-height: 30px;
  background-color: #eeeeee;
  height: 400px;
  width: 100px;
  float: left;
  padding: 5px;
}
#section {
  float: left;
  padding: 15px;
}
#linkedin{
  margin-left: auto;
  margin-right: auto;
}
#footer {
  background-color: black;
  color: white;
  clear: both;
  text-align: center;
  padding: 5px;
}
.home-image {
  height: 250px;
}
.section-text {
  float: left;
}
